@import "tailwindcss";

@custom-variant dark (&:is(.dark *));
:root {
  /* Light Theme */
  --color-background: #F5F7FA;
  --color-foreground: #FFA500;
  --color-primary: #FFA500;
  --color-secondary: #DB4437;
  --color-accent: #333333;
  --color-success: #22C55E;
  --color-info: #90e0ef;
  --color-warning: #FACC15;
  --color-danger: #d7191c;
}

/* Dark Theme */
.dark {
  --color-background: #1A1A1A;
  --color-foreground: #F5F7FA;
  --color-primary: #2563EB;
  --color-secondary: #1E40AF;
  --color-success: #22C55E;
  --color-info: #90e0ef;
  --color-warning: #FACC15;
  --color-danger: #d7191c;
}


@theme {
  /* Light Theme */
  --color-background: #F5F7FA;
  --color-foreground: #FFA500;
  --color-primary: #FFA500;
  --color-secondary: #DB4437;
  --color-accent: #333333;
  --color-success: #22C55E;
  --color-info: #90e0ef;
  --color-warning: #FACC15;
  --color-danger: #d7191c;
}

@theme dark {
  /* Dark Theme */
  --color-background: #1A1A1A;
  --color-foreground: #F5F7FA;
  --color-primary: #2563EB;
  --color-secondary: #1E40AF;
  --color-success: #22C55E;
  --color-info: #90e0ef;
  --color-warning: #FACC15;
  --color-danger: #d7191c;
}

@utility container {
  margin-inline: auto;
  padding-inline: 1rem;
  @media (width >= --theme(--breakpoint-sm)) {
    max-width: none;
  }
  @media (width >= 1440px) {
    max-width: 1440px;
  }
}

@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentColor);
  }
}

